.container {
    max-width: 900px;
}

.note-list {
    list-style: none;
    padding-left: 0;
}
.jumbotron {
    background: antiquewhite;
    padding: 2.5rem 2rem;
}
.time {
    font-size: 0.7em;
    color: #999;
}
.list-body {
    margin-bottom: 0.15rem;
}

#search {
    background-image: url('media/searchicon.png');
    background-position: 7px 10px; 
    background-repeat: no-repeat;
    background-size: 3%;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#newImportant {
    margin-left: 0;
}
.form-check-label {
    margin-left: 1.25rem;
}